src/main/resources/git.properties
.idea/
build/
*.iml
*.iws
gradlew
gradlew.bat
classes/
out/
.gradle/
gradle/
.classpath
.project
.settings/
bin/
src/main/resources/application-dev.properties
src/main/resources/config/application-dev.properties
src/main/resources/application-dev.yml
src/main/resources/config/application-dev.yml

